<h1>Nuevo Paciente</h1>
{{!-- {{#with currentPatient}} --}}
<div>
  <form action="/doctor/newPatient2" method="POST">
  <div>
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName" id="firstName" value="{{currentPatient.firstName}}">

    <label for="lastName">Last Name:</label>
  <input type="text" name="lastName" id="lastName" value="{{currentPatient.lastName}}">

    <label for="secondLastName">Second Last Name:</label>
  <input type="text" name="secondLastName" id="secondLastName" value="{{currentPatient.secondLastName}}">

    <label for="birthDate">Date of birth:</label>
  <input type="string" name="birthDate" id="birthDate" placeholder="DD.MM.YYYY" value="{{birthDate}}">
</div>
<div>
    <label for="id">ID:</label>
  <input type="number" name="id" id="id" value="{{currentPatient.id}}">

    <label for="tis">TIS:</label>
  <input type="number" name="tis" id="tis" value="{{currentPatient.tis}}">

    <label for="phoneNumber">Phone:</label>
  <input type="number" name="phoneNumber" id="phoneNumber" value="{{currentPatient.phoneNumber}}">

    <label for="email">Email:</label>
  <input type="text" name="email" id="email" value="{{currentPatient.email}}">
  </div>
</div>
<button type="submit">Next</button>
  </form>
  {{!-- {{/with}} --}}