<h1>Nuevo Paciente 2</h1>

{{#with currentPatient}}
  <form action="/doctor/newPatient3" method="POST">
  <div>
    <div>
      <ul>
        <li>
  <label for="totalColesterol">Total Colesterol:</label>
  <input type="number" name="totalColesterol" id="totalColesterol" value="{{totalColesterol}}"> mg/dL

        </li>
        <li>
    <label for="ldl">LDL:</label>
  <input type="number" name="ldl" id="ldl" value="{{ldl}}"> mg/dL

        </li>
        <li>
    <label for="hdl">HDL:</label>
  <input type="number" name="hdl" id="hdl" value="{{hdl}}"> mg/dL
        </li>
        <li>
    <label for="triglycerides">Triglycerides:</label>
  <input type="number" name="triglycerides" id="triglycerides" value="{{triglycerides}}"> mg/dL 

        </li>
        <li>
    <label for="urea">Urea:</label>
  <input type="number" name="urea" id="urea" value="{{urea}}"> mg/dL

        </li>
        <li>
    <label for="creatinine">Creatinine:</label>
  <input type="number" name="creatinine" id="creatinine" value="{{creatinine}}"> mg/dL

        </li>
        <li>
    <label for="potassium">Potassium:</label>
  <input type="number" name="potassium" id="potassium" value="{{potassium}}"> mEg/dL

        </li>
        <li>
    <label for="sodium">Sodium:</label>
  <input type="number" name="sodium" id="sodium" value="{{sodium}}"> mEg/dL

        </li>
        <li>
      <label for="basalBloodGlucose">Basal Blood Glucose:</label>
  <input type="number" name="basalBloodGlucose" id="basalBloodGlucose" value="{{basalBloodGlucose}}"> mg/dL
        </li>



  </div>
</div>
</ul>
<div>
  <label for="allergies">Allergies:</label>
  <input type="text" name="allergies" id="allergies" value="{{allergies}}">
</div>
<a href="/doctor/newPatient1">back</a> <button type="submit">Next</button>
</form>

{{/with}}