<div class='logoHeader'>
<a href="/overview" id='homeButton'><div ></div></a>
<div id='imgPlaceholder'>CORVIS</div>
<a href="/logout"><div>Logout</div></a>
</div>

<div id='overviewContainer'>

<div id="addPatientContainer">
  <a href="/doctor/newPatient1" id='addPatient'>Add Patient</a>
</div>


  <table id='overviewTable'>
    <thead>
      <tr>
        <th>Alert</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Last Update</th>
        <th><input type="text" name="searchValue" placeholder="Search" id='searchField'></th>

      </tr>
    </thead>
    <br>
    <tbody>
      {{#each doctor.patients}}
      <tr>
        <td>{{alertLevel}}</td>
        <td>
          <a href="/patient/{{_id}}">
            {{firstName}}</a>
        </td>
        <td>{{lastName}}</td>
        <td>{{birthDate}}</td>
        <td>{{lastUpdate}}</td>
        <td><button id="editBtn">Edit</button>
          <div style="display:none">{{_id}}</div>
        </td>
      </tr>

      <br>

      {{/each}}
    </tbody>
  </table>

  </div>


<!-- The Modal -->
<div id="editModal" class="modal">
<div id="hiddenModal" style="display: none"></div>

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h4>Edit Patient</h4>

    <form action="" method="POST">
      <div>
        <h5>Contact Info</h5>
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" value="{{firstName}}">

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" value="{{lastName}}">

        <label for="secondLastName">Second Last Name:</label>
        <input type="text" name="secondLastName" id="secondLastName" value="{{secondLastName}}">

        <label for="birthDate">Date of birth:</label>
        <input type="string" name="birthDate" id="birthDate" value="{{birthDate}}">
      </div>

      <div>
        <label for="id">ID:</label>
        <input type="number" name="id" id="id" value="{{id}}">

        <label for="tis">TIS:</label>
        <input type="number" name="tis" id="tis" value="{{tis}}">

        <label for="phoneNumber">Phone:</label>
        <input type="number" name="phoneNumber" id="phoneNumber" value="{{phoneNumber}}">

        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="{{email}}">
      </div>

      <div>
        <h5>Measurements</h5>
        <label for="totalColesterol">Total Colesterol:</label>
        <input type="text" name="totalColesterol" id="totalColesterol" value="{{totalColesterol}}">

        <label for="ldl">LDL:</label>
        <input type="text" name="ldl" id="ldl" value="{{ldl}}">

        <label for="hdl">HDL:</label>
        <input type="text" name="hdl" id="hdl" value="{{hdl}}">
      </div>

      <div>
        <label for="triglycerides">Triglycerides:</label>
        <input type="number" name="triglycerides" id="triglycerides" value="{{triglycerides}}">

        <label for="urea">Urea:</label>
        <input type="number" name="urea" id="urea" value="{{urea}}">

        <label for="creatinine">Creatinine:</label>
        <input type="number" name="creatinine" id="creatinine" value="{{creatinine}}">
      </div>

      <div>
        <label for="potassium">Potassium:</label>
        <input type="number" name="potassium" id="potassium" value="{{potassium}}">

        <label for="sodium">Sodium:</label>
        <input type="text" name="sodium" id="sodium" value="{{sodium}}">

        <label for="basalBloodGlucose">Basal Blood Glucose:</label>
        <input type="text" name="basalBloodGlucose" id="basalBloodGlucose" value="{{basalBloodGlucose}}">
      </div>
  

  <div>
    <label for="allergies">Allergies:</label>
    <input type="text" name="allergies" id="allergies" value="{{allergies}}">
  </div>

    <div>
    <label for="diagnosis">Diagnosis:</label>
    <input type="text" name="diagnosis" id="diagnosis" value="{{diagnosis}}">
  </div>

  <div>
    <h5>Treatments</h5>
    <ul id='treatmentList'>

    </ul>
  </div>
  <div>

      <h4>Measures to be registered</h4>


      <input type="checkbox" name="bloodPressureMeasured" id="bloodPressureMeasured" value="true"> Blood Pressure<br>
      <div class="dropdown">
        <label for="minBloodPressure">Min</label>
        <input type="text" name="minBloodPressure" id="minBloodPressure">
        <label for="maxBloodPressure">Max</label>
        <input type="text" name="maxBloodPressure" id="maxBloodPressure">
        <label for="targetObjectiveBloodPressure">Target Objective</label>
        <input type="text" name="targetObjetiveBloodPressure" id="targetObjetiveBloodPressure">
      </div>

      <input type="checkbox" value="true" name="heartRateMeasured" id="heartRateMeasured"> Heart Rate <br>
      <div class="dropdown">
        <label for="minHeartRate">Min</label>
        <input type="number" name="minHeartRate" id="minHeartRate">
        <label for="maxHeartRate">Max</label>
        <input type="number" name="maxHeartRate" id="maxHeartRate">
        <label for="targetObjetiveHeartRate">Target Objective</label>
        <input type="number" name="targetObjetiveHeartRate" id="targetObjetiveHeartRate">
      </div>

      <input type="checkbox" value="true" name="bloodGlucoseMeasured" id="bloodGlucoseMeasured"> Blood Glucose
      <div class="dropdown">
        <label for="minBloodGlucose">Min</label>
        <input type="number" name="minBloodGlucose" id="minBloodGlucose">
        <label for="maxBloodGlucose">Max</label>
        <input type="number" name="maxBloodGlucose" id="maxBloodGlucose">
        <label for="targetObjetiveBloodGlucose">Target Objective</label>
        <input type="number" name="targetObjetiveBloodGlucose" id="targetObjetiveBloodGlucose">
      </div>
    </div>
    <div>
      <h2>Alert Level</h2>
      <select name="alert" id="alert">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select>
    </div>
    <div>
      <h2>Notifications</h2>
      <input type="radio" name="notification" value="never">Never
      <input type="radio" name="notification" value="outOfRange">Data out of range
      <input type="radio" name="notification" value="always">Always
    </div>
    <button type='submit'>Save</button>
  </form>
</div>
</div>





<script src='/javascripts/editPatient.js'></script>

