
<h1>Patient Overview</h1>
<a href="/logout">Log Out</a>
<a href="/doctor/newPatient1">create new patient</a>

<div class='searchbar'>
  <input type="text" name="alert" placeholder="Alert"> <input type="name" name="name" placeholder="Name"> <input type="text" name="surname" placeholder="Surname"> <input type="number" name="age" placeholder="Age"> <input type="date" name="lastUpdate" placeholder="Last Update">
  <button type="submit">Search</button>
</div>
<div class="tablecontainer">
  <thead>
    <tr>
      <td>Alert</td>
      <td>Name</td>
      <td>Surname</td>
      <td>Age</td>
      <td>Last Update</td>
    </tr>
  </thead>
  <br>
  <tbody>
    {{#each doctor.patients}}
    <a href="/patient/{{_id}}">
    <tr>
      <td>{{alertLevel}}</td>
      <td>{{firstName}}</td>
      <td>{{lastName}}</td>
      <td>{{birthDate}}</td>
      <td>{{lastUpdate}}</td>
    </tr>
    </a>
    {{/each}}
  </tbody>
</table>
</div>
<table>
