<div class='patientHeader'>
  <div id='contactInfo'>
    <span>Patient Name: {{patient.firstName}} {{patient.lastName}}</span> <span>Age: {{patientAge}}</span> <span>Patient
      ID: {{patient.patientId}}</span>
    <span>TIS: {{patient.healthInsuranceId}}</span> <span>Telephone: {{patient.contact.telephone}}</span> <span>Email:
      {{patient.contact.email}}</span>
  </div>

  <div style="display:none" id='hiddenId'>{{patient._id}}</div>

  <div id='patientValues'>
    <div class='measurements'>
      <h6>Last Measurements</h6>
      <table>
      <thead>
        <tr>
          <th>Cholesterol</th>
          <th>LDL</th>
          <th>HDL</th>
          <th>Triglycerides</th>
          <th>Urea</th>
          <th>Creatine</th>
          <th>Potassium</th>
          <th>Sodium</th>
          <th>Basal glycemia</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{patient.lastMeasurements.totalColesterol}}</td>
          <td>{{patient.lastMeasurements.ldl}}</td>
          <td>{{patient.lastMeasurements.hdl}}</td>
          <td>{{patient.lastMeasurements.triglycerides}}</td>
          <td>{{patient.lastMeasurements.urea}}</td>
          <td>{{patient.lastMeasurements.creatinine}}</td>
          <td>{{patient.lastMeasurements.potassium}}</td>
          <td>{{patient.lastMeasurements.sodium}}</td>
          <td>{{patient.lastMeasurements.basalBloodGlucose}}</td>
        </tr>
      </tbody>
      </table>
    </div>
    <div class='measurements'>
      <h6>Allergies:</h6>
      <p>{{patient.allergies}}</p>
    </div>
  </div>
</div>

<div class='graphContainer'>
  <div id='treatmentsContainer' class='treatment'>
    <h2>Treatments</h2>
    <div>{{patient.treatments.[0].name}}</div>

    <p>Type of Drug:</p>
    <div>
      <h4>Dose</h4>
      {{#if patient.treatments.[0].doseMeals.isSelected}}
      Breakfast: {{patient.treatments.[0].doseMeals.breakfast}}
      Lunch: {{patient.treatments.[0].doseMeals.lunch}}
      Dinner: {{patient.treatments.[0].doseMeals.dinner}}
      Night: {{patient.treatments.[0].doseMeals.night}}
      {{else}}
      {{patient.treatments.[0].doseTime.quantity}} pieces each {{patient.treatments.[0].doseTime.intervall}} {{doseTime.timeMeasure}}
      {{/if}}
      <p></p>
    </div>
    <div>
      <h4>Duration</h4>
      <p>From {{dateFormat patient.treatments.[0].startDate "d, MMM, YYYY"}} To {{dateFormat patient.treatments.[0].endDate "DD, MMM, YYYY"}}</p>
    </div>
    <div>
      <h4>Recommendations</h4>
      <p>{{patient.treatments.[0].recommendation}}</p>
    </div>

  </div>


<div id='heartRateContainer' class='treatment'>
  <h2>Blood Pressure and Heart Frequency</h2>
  <canvas id="heartRateGraph"></canvas>
</div>

<div id='bloodSugarContainer' class='treatment'>
  <h2>Blood Sugar</h2>
  <canvas id="bloodSugarChart"></canvas>
</div>
</div>

</div>
</div>

<script src='/javascripts/chart.js'></script>