<div style="display:none" id='hiddenId'>{{patient._id}}</div>

<div id='dashboardContainer'>
  <div class='logoHeader'>
    <a href="/overview" id='homeButton'>
      <div> ◀︎ Back To Patient Overview</div>
    </a>
    <a href="/logout">
      <div>Logout</div>
    </a>
  </div>

  <div id='patientHeader'>
    <div id='patientInfo'>
    <div class='infoHeader' id='contactInfo'>
      <h4>Patient Details</h4>
      <div>
        <span>{{patient.firstName}} {{patient.lastName}}</span> <span>
          {{patient.birthDate}}</span> <span>
          ID: {{patient.patientId}}</span>
        <span>TIS: {{patient.healthInsuranceId}}</span> <span>{{patient.contact.telephone}}</span>
        <span>
          {{patient.contact.email}}</span>
      </div>
      </div>
      <div class='infoHeader' id='allergyInfo'>
      <h4>Recorded Allergies</h4>
      <div>
        <span>{{patient.allergies}}</span> 
      </div>
    </div>

    </div>
    


    <div id='patientValues'>
      <div class='infoHeader'>
        <h4>Last Checkup ({{patient.lastUpdate}})</h4>
        <table>
          <thead>
            <tr>
              <th>Cholesterol</th>
              <th>LDL</th>
              <th>HDL</th>
              <th>Triglycerides</th>
              <th>Urea</th>
              <th>Creatine</th>
              <th>Potassium</th>
              <th>Sodium</th>
              <th>Basal glycemia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{patient.lastMeasurements.totalColesterol}}</td>
              <td>{{patient.lastMeasurements.ldl}}</td>
              <td>{{patient.lastMeasurements.hdl}}</td>
              <td>{{patient.lastMeasurements.triglycerides}}</td>
              <td>{{patient.lastMeasurements.urea}}</td>
              <td>{{patient.lastMeasurements.creatinine}}</td>
              <td>{{patient.lastMeasurements.potassium}}</td>
              <td>{{patient.lastMeasurements.sodium}}</td>
              <td>{{patient.lastMeasurements.basalBloodGlucose}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class='graphContainer'>
    <div id='treatmentsContainer' class='treatment'>
      <h2>Treatments</h2>
      {{#each patient.treatments}}
      <button type="button" class="collapsible">{{name}}</button>
      <div class="content">
        <p>Type of Drug:</p>
        <div>
          <h4>Dose</h4>
          {{#if doseMeals.isSelected}}
          Breakfast: {{doseMeals.breakfast}}
          Lunch: {{doseMeals.lunch}}
          Dinner: {{doseMeals.dinner}}
          Night: {{doseMeals.night}}
          {{else}}
          {{doseTime.quantity}} pieces each {{doseTime.intervall}}
          {{doseTime.timeMeasure}}
          {{/if}}
          <p></p>
        </div>
        <div>
          <h4>Duration</h4>
          <p>From {{startDate}} To
            {{endDate}}</p>
        </div>
        <div>
          <h4>Recommendations</h4>
          <p>{{recommendation}}</p>
        </div>
      </div>
      {{/each}}
      <div style="display:none" id='hiddenDisplayToggle'>{{display}}</div>
    </div>
    <div id='bpBsContainer'>
      <div class='treatment' id='bpBsHeader'>
        <button class='nextButton' id='bsNext'>
          <p>Blood Pressure / Heart Frequency</p>
        </button>
        <button class='nextButton' id='bpNext'>
          <p>Blood Sugar</p>
        </button>
      </div>
      <div class='treatment' id='bloodPressureParent'>
        {{!-- <h5>Blood Pressure and Heart Frequency</h5> --}}
          <div id='bloodPressureGraphContainer'>
            <canvas id="bloodPressureGraph"></canvas>
            <button id="bpButton">+</button>
          </div>

          <div id='bloodPressureTableContainer'>
            <table id='bloodPressureTable' class='table'>
              <thead>
                <th>Date</th>
                <th>Blood Pressure</th>
                <th>Comment</th>
              </thead>
              <tbody>
                {{#each patient.bloodPressureData.values}}
                <tr>
                  <td>{{removeYear date}}</td>
                  <td>{{systolic}}/{{diastolic}}</td>
                  <td>{{comment}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>

          </div>

      </div>

      <div class='treatment' id='bloodSugarParent'>
        {{!-- <h5>Blood Sugar</h5> --}}
          <div id='bloodSugarGraphContainer'>
            <canvas id="bloodSugarChart"></canvas>
            <button id="bsButton">+</button>
          </div>

          <div id='bloodSugarTableContainer'>
            <table id='bloodSugarTable' class='table'>
              <thead>
                <th>Date</th>
                <th>Blood Pressure</th>
                <th>Comment</th>
              </thead>
              <tbody id='bloodSugarTableBody'>
              </tbody>
            </table>

          </div>

      </div>
    </div>

  </div>
</div>


<!-- The BP Modal -->
<div id="bpModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h5>Add new Blood Pressure and Heart Frequency Value</h5>
    <form action='/patient/{{patient._id}}' method='POST'>
      <input type="hidden" name="hidden" value="bloodPressure">
      <label for="bloodPressure">Systolic/Diastolic:</label>
      <input type="number" name="systolic" id="bloodPressure" required> / <input type="number" name="diastolic"
        id="bloodPressure" required>
      <label for="heartFrequency">Heart Frequency</label>
      <input type="number" name="heartFrequency" id="heartFrequency">
      <label for="date">Date</label>
      <input type="string" name="date" id="date" placeholder="DD.MM.YYY" required>
      <label for="comment">Comment</label>
      <input type="text" name="comment" id="comment">
      <button type="submit">Save</button>
    </form>
  </div>

</div>

<!-- The BS Modal -->
<div id="bsModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h5>Add new Blood Sugar Value</h5>
    <form action='/patient/{{patient._id}}' method='POST'>
      <input type="hidden" name="hidden" value="bloodSugar">
      <label for="bloodSugar">Blood Sugar:</label>
      <input type="number" name="bloodSugar" required>
      <label for="date">Date</label>
      <input type="string" name="date" id="date" placeholder="DD.MM.YYY" required>
      <label for="comment">Comment</label>
      <input type="text" name="comment" id="comment">
      <button type="submit">Save</button>
    </form>
  </div>

</div>


<script src='/javascripts/buttons.js'></script>
<script src='/javascripts/chart.js'></script>
<script src='/javascripts/collapsible.js'></script>
<script src='/javascripts/addValue.js'></script>