<div class='patientHeader'>
  <div id='contactInfo'>
    <span>Patient Name: {{patient.firstName}} {{patient.lastName}}</span> <span>Age: {{patientAge}}</span> <span>Patient
      ID: {{patient.patientId}}</span>
    <span>TIS: {{patient.healthInsuranceId}}</span> <span>Telephone: {{patient.contact.telephone}}</span> <span>Email:
      {{patient.contact.email}}</span>
  </div>

  <div style="display:none" id='hiddenId'>{{patient._id}}</div>

  <div id='patientValues'>
    <div class='measurements'>
      <h6>Last Measurements</h6>
      <table>
        <thead>
          <tr>
            <th>Cholesterol</th>
            <th>LDL</th>
            <th>HDL</th>
            <th>Triglycerides</th>
            <th>Urea</th>
            <th>Creatine</th>
            <th>Potassium</th>
            <th>Sodium</th>
            <th>Basal glycemia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{patient.lastMeasurements.totalColesterol}}</td>
            <td>{{patient.lastMeasurements.ldl}}</td>
            <td>{{patient.lastMeasurements.hdl}}</td>
            <td>{{patient.lastMeasurements.triglycerides}}</td>
            <td>{{patient.lastMeasurements.urea}}</td>
            <td>{{patient.lastMeasurements.creatinine}}</td>
            <td>{{patient.lastMeasurements.potassium}}</td>
            <td>{{patient.lastMeasurements.sodium}}</td>
            <td>{{patient.lastMeasurements.basalBloodGlucose}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='measurements'>
      <h6>Allergies:</h6>
      <p>{{patient.allergies}}</p>
    </div>
  </div>
</div>

<div class='graphContainer'>
  <div id='treatmentsContainer' class='treatment'>
    <h5>Treatments</h5>
    {{#each patient.treatments}}
    <button type="button" class="collapsible">{{name}}</button>
    <div class="content">
      <p>Type of Drug:</p>
    <div>
      <h4>Dose</h4>
      {{#if doseMeals.isSelected}}
      Breakfast: {{doseMeals.breakfast}}
      Lunch: {{doseMeals.lunch}}
      Dinner: {{doseMeals.dinner}}
      Night: {{doseMeals.night}}
      {{else}}
      {{doseTime.quantity}} pieces each {{doseTime.intervall}}
      {{doseTime.timeMeasure}}
      {{/if}}
      <p></p>
    </div>
    <div>
      <h4>Duration</h4>
      <p>From {{dateFormat startDate "d, MMM, YYYY"}} To
        {{dateFormat endDate "DD, MMM, YYYY"}}</p>
    </div>
    <div>
      <h4>Recommendations</h4>
      <p>{{recommendation}}</p>
    </div>
    </div>
  {{/each}}
    
  </div>


  <div class='treatment' id='bloodPressureParent'>
    {{!-- <h5>Blood Pressure and Heart Frequency</h5> --}}
    <div id='heartRateContainer' class='active'>
    <div id='heartRateGraphContainer'>
    <canvas id="heartRateGraph"></canvas>
    </div>
    <div id='heartRateTable'>
    <table class='table'>
      <thead>
        <th>Date</th>
        <th>Blood Pressure</th>
        <th>Comment</th>
      </thead>
      <tbody>
        {{#each patient.bloodPressureData.values}}
        <tr>
        <td>{{removeYear date}}</td>
        <td>{{systolic}}/{{diastolic}}</td>
        <td>{{comment}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    </div>
    </div>
  </div>

  <div class='treatment' id='bloodSugarParent'>
    {{!-- <h5>Blood Sugar</h5> --}}
    <div id='bloodSugarContainer'>
    <div id='bloodSugarChartContainer'>
         <canvas id="bloodSugarChart"></canvas>
    </div>
     <div id='bloodSugarTable'>
    <table class='table'>
      <thead>
        <th>Date</th>
        <th>Blood Pressure</th>
        <th>Comment</th>
      </thead>
      <tbody>
        {{#each patient.bloodSugarData.values}}
        <tr>
        <td>{{removeYear date}}</td>
        <td>{{value}}</td>
        <td>{{comment}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    </div>
  </div>
  </div>
</div>


<script src='/javascripts/chart.js'></script>
<script src='/javascripts/collapsible.js'></script>